@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --border: 0 0% 90%;
}

/* base */
@layer base {
  body {
    @apply bg-white text-black;
  }
}